@model List<RAMS.ViewModels.CategoryListViewModel>
<!-- CATEGORY LIST PARTIAL -->
@if (!RAMS.Helpers.Utilities.IsEmpty(Model))
{
    <div class="well well-lg bottom-margin-0 background-white">
        <table id="category-list-table" class="table table-striped table-bordered table-hover bottom-margin-0" cellspacing="0">
            <thead>
                <tr class="active">
                    <th>Category Id</th>
                    <th>Category Name</th>
                    <th>Number of Positions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="cursor-pointer" data-toggle="modal" data-backdrop="static" data-target="#edit-category-modal" data-category-id="@item.CategoryId" data-category-name="@item.Name">
                        <td>@item.CategoryIdForDisplay</td>
                        <td>@item.Name</td>
                        <td>@item.NumOfPositions</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script type="text/javascript">$(function () { LoadDataTable("category-list-table") });</script>
}
else
{
    <div class="well well-lg bottom-margin-0 background-white">
        <div class="alert alert-danger bottom-margin-0" role="alert">
            <span>Category data is not available.</span>
        </div>
    </div>
}
<!-- END OF CATEGORY LIST PARTIAL -->
