@model RAMS.Web.Identity.ForgotPasswordViewModel
<!-- FORGOT PASSWORD PARTIAL -->
@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "forgot-password-div",
        OnBegin = "OnAjaxBegin",
        OnSuccess = "OnAjaxSuccess",
        OnFailure = "OnAjaxFailure",
        OnComplete = "OnAjaxComplete"
    };
}

<div class="well well-lg bottom-margin-0 background-white">

    <div class="alert alert-warning bottom-margin-0" role="alert">
        <div class='text-center'><h4><strong>Please prove your identity.</strong></h4></div>
        <div class='row'>
            <div class='col-md-12'><p></p></div><div class='col-md-offset-1 col-md-11'>Please ensure to provide valid user name and an email associated with your account.</div>

            <div class='col-md-12'><p></p></div><div class='col-md-offset-1 col-md-11'><strong>NOTE: </strong>Your password will be reset and sent to you by email.</div>
        </div>
    </div>

    @using (Ajax.BeginForm("ForgotPassword", "Account", new { Area = "" }, ajaxOptions, new { id = "forgot-password-form" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">

            @Html.ValidationMessage("", "", new { @class = "text-danger" })
            <div class="vertical-padding-24"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control password", maxLength = "100" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control password", maxLength = "300" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group bottom-margin-0">
                <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6">
                    <input type="submit" value="Request to Reset Password" class="btn btn-danger btn-block" />
                </div>
            </div>
        </div>
    }
</div>

<!-- END OF FORGOT PASSWORD PARTIAL -->