<!DOCTYPE html>
@using System.Web.Optimization;
@using System.Security.Claims;
@using RAMS.Helpers;

@{var identity = User.Identity as ClaimsIdentity;}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Content/favicon.ico")" />
    <title>Recruiting Agency Management System</title>
    <!-- RENDER STYLES -->
    @Styles.Render("~/bootstrap/css")
    @Styles.Render("~/dataTables/css")
    @Styles.Render("~/isLoading/css")
    @Styles.Render("~/jQueryUI/css")

    <!-- END OF RENDER STYLES -->
    <!-- RENDER SCRIPTS -->
    @Scripts.Render("~/bootstrap/js")
    @Scripts.Render("~/dataTables/js")
    @Scripts.Render("~/isLoading/js")
    @Scripts.Render("~/jQueryUI/js")

    <!-- END OF RENDER SCRIPTS -->
</head>
<body>

    <!-- TOP NAVBAR -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#rams-navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">RAMS</a>
            </div>
            <div class="collapse navbar-collapse" id="rams-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class='@Html.IsActive("Profile")'>
                        @Html.ActionLink("Profile", "Index", "Profile", new { area = "Agency" }, new { @class = "" })
                    </li>
                    <li class='@Html.IsActive("Position")'>
                        @Html.ActionLink("Positions", "Index", "Position", new { area = "Agency" }, new { @class = "" })
                    </li>
                    @if (identity.HasClaim("Role", "Manager"))
                    {
                        <li class='@Html.IsActive("Report")'>
                            @Html.ActionLink("Reports", "Index", "Report", new { area = "Agency" }, new { @class = "" })
                        </li>
                        <li class='@Html.IsActive("Agent")'>
                            @Html.ActionLink("Agents", "Index", "Agent", new { area = "Agency" }, new { @class = "" })
                        </li>
                        <li class='@Html.IsActive("Client")'>
                            @Html.ActionLink("Clients", "Index", "Client", new { area = "Agency" }, new { @class = "" })
                        </li>
                    }
                </ul>
                <div class="navbar-form navbar-right">
                    @Html.Partial("_AccessControl")
                </div>
            </div>
        </div>
    </nav>
    <!-- END OF TOP NAVBAR -->

    <div class="container body-content">

        <div class="well well-lg">
            @RenderBody()
        </div>

        <!-- MODALS -->

        <!-- EDIT PROFILE MODAL -->
        <div id="edit-profile-modal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- MODAL CONTENT -->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="$('#edit-profile-modal').modal('hide')">&times;</button>
                        <h4 class="modal-title text-center">Edit Profile</h4>
                    </div>
                    <div class="modal-body">
                        <div id="edit-user-profile-message-modal-body-div"></div>
                        <div class="well well-lg bottom-margin-0">
                            <div id="edit-user-profile-modal-body-div"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="$('#edit-profile-modal').modal('hide')">Close</button>
                    </div>
                </div>
                <!-- END OF MODAL CONTENT -->
            </div>
        </div>
        <!-- END OF EDIT PROFILE MODAL -->

        <!-- CHANGE PASSWORD MODAL -->
        <div id="change-password-modal" class="modal fade" role="dialog">
            <div class="modal-dialog modal-lg">
                <!-- MODAL CONTENT -->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="$('#change-password-modal').modal('hide');">&times;</button>
                        <h4 class="modal-title text-center">Change Password</h4>
                    </div>
                    <div class="modal-body">
                        <div class="well well-lg bottom-margin-0">
                            <div id="password-change-div"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" onclick="$('#change-password-modal').modal('hide');">Close</button>
                    </div>
                </div>
                <!-- END OF MODAL CONTENT-->
            </div>
        </div>
        <!-- END OF CHANGE PASSWORD MODAL -->

        <!-- END OF MODALS -->

        <hr />
        <footer>
            <span class="pull-left text-center">&copy; @DateTime.UtcNow.Year - Recruiting Agency Management System</span>
            @Html.ActionLink("RAMS API Info", "Index", "Help", new { area = "HelpPage" }, new { @class = "badge pull-right" })
            <div class="clearfix"></div>
            <div class="vertical-padding-24"></div>
        </footer>
    </div>   
    <script type="text/javascript">$(function () { GeneralModalControls(); });</script>
    <script src="~/Content/CKEditor/ckeditor.js" type="text/javascript"></script>
</body>
</html>