@model RAMS.ViewModels.AgentDetailsViewModel

<!-- AGENT DETAILS PARTIAL -->
@if (Model != null)
{
    <div class="well well-lg bottom-margin-0 background-white">
        <div class="row">
            <div class="col-md-2"><p></p></div>
            <div class="col-md-10">
                <dl class="dl-horizontal bottom-margin-0">
                    <dt>@Html.LabelFor(model => model.FullName)</dt>
                    <dd>@Model.FullName</dd>
                    <dt>@Html.LabelFor(model => model.Email)</dt>
                    <dd><a href="mailto:@Model.Email">@Model.Email</a></dd>
                    <dt>@Html.LabelFor(model => model.PhoneNumber)</dt>
                    <dd>@Model.PhoneNumber</dd>
                    <dt>@Html.LabelFor(model => model.Department)</dt>
                    <dd>@Model.Department</dd>
                    <dt>@Html.LabelFor(model => model.AgentStatus)</dt>
                    <dd>@Model.AgentStatus</dd>
                    <dt>@Html.LabelFor(model => model.Role)</dt>
                    <dd>@Model.Role</dd>
                    <dt>@Html.LabelFor(model => model.PositionsTotal)</dt>
                    <dd>@Model.PositionsTotal</dd>
                    <dt>@Html.LabelFor(model => model.PositionsCurrent)</dt>
                    <dd>@Model.PositionsCurrent</dd>
                    <dt>@Html.LabelFor(model => model.InterviewsCompleted)</dt>
                    <dd>@Model.InterviewsCompleted</dd>
                    <dt>@Html.LabelFor(model => model.InterviewsPending)</dt>
                    <dd>@Model.InterviewsPending</dd>
                </dl>
            </div>
        </div>
    </div>
}
else
{
    <div class='alert alert-danger bottom-margin-0' role='alert'>
        <div class='text-center'><h4><strong>Agent information is not available.</strong></h4></div>
        <div class="row">
            <div class='col-md-12'><p></p></div><div class='col-md-offset-1 col-md-11'>Agent could have been deleted, or modified.</div>
            <div class='col-md-offset-1 col-md-11'>Please refresh the list and try again in a moment.</div>
        </div>
    </div>
}
<!-- END OF AGENT DETAILS PARTIAL -->

