@model RAMS.ViewModels.InterviewScheduleViewModel

<!-- SCHEDULE INTERVIEW PARTIAL -->
@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "edit-position-message-modal-body-div",
        OnBegin = "OnAjaxBegin",
        OnSuccess = "OnAjaxSuccess",
        OnFailure = "OnAjaxFailure",
        OnComplete = "OnAjaxComplete"
    };
}

@if (Model.CandidateId > 0 && !String.IsNullOrEmpty(Model.DisplayDate))
{
    using (Ajax.BeginForm("ScheduleInterview", "Position", new { Area = "Agency" }, ajaxOptions, new { id = "schedule-interview-form" }))
    {
        DateTime convertedDate;

        DateTime.TryParseExact(Model.DisplayDate, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture, System.Globalization.DateTimeStyles.None, out convertedDate);
        
        @Html.AntiForgeryToken()
    
        @Html.HiddenFor(model => model.CandidateId)
        @Html.HiddenFor(model => model.Selected)
    
        <div class="well well-lg bottom-margin-0">
            <div class="btn-group btn-group-justified" role="group">

                <div class="btn-group" role="group">
                    <input type="button" class="btn btn-info" onclick="LoadAction('schedule-interview-modal-body-div', '@Url.Action("ScheduleInterview", "Position", new { candidateId = Model.CandidateId, displayDate = convertedDate.AddDays(-7).ToString("dd/MM/yyyy"), selected = Model.Selected, Area = "Agency" })');" value="Previous Week" />
                </div>

                <div class="btn-group" role="group">
                    @if (convertedDate.ToString("dd/MM/yyyy") == DateTime.UtcNow.ToString("dd/MM/yyyy"))
                    {
                        <input type="button" class="btn btn-danger" disabled value="Current Week" />
                    }
                    else
                    {
                        <input type="button" class="btn btn-danger" onclick="LoadAction('schedule-interview-modal-body-div', '@Url.Action("ScheduleInterview", "Position", new { candidateId = Model.CandidateId, displayDate = DateTime.UtcNow.ToString("dd/MM/yyyy"), selected = Model.Selected, Area = "Agency" })');" value="Current Week" />
                    }
                </div>
                <div class="btn-group" role="group">
                    <input type="button" class="btn btn-info" onclick="LoadAction('schedule-interview-modal-body-div', '@Url.Action("ScheduleInterview", "Position", new { candidateId = Model.CandidateId, displayDate = convertedDate.AddDays(7).ToString("dd/MM/yyyy"), selected = Model.Selected, Area = "Agency" })');" value="Next Week" />
                </div>
            </div>
            <div class="vertical-padding-24"></div>

            <div class="well well-lg bottom-margin-0 background-white">
                <div class="row">
                    @for (int increment = (((((int)convertedDate.DayOfWeek == 0) ? 7 : (int)convertedDate.DayOfWeek) - 1) * -1); increment <= (7 - (((int)convertedDate.DayOfWeek == 0) ? 7 : (int)convertedDate.DayOfWeek)); increment++)
                    {
                        <div class="col-md-4">
                            <h4 class='text-center @((convertedDate.AddDays(increment).ToString("dd/MM/yyyy") == DateTime.UtcNow.ToString("dd/MM/yyyy")) ? "text-warning" : "")'>@convertedDate.AddDays(increment).DayOfWeek @convertedDate.AddDays(increment).ToString("dd/MM/yyyy")</h4>
                            <table id="schedule-table" class="table table-hover table-bordered bottom-margin-0" cellspacing="0">
                                <thead>
                                    <tr class="active">
                                        <th>Time</th>
                                        <th>Availability</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="cursor-pointer" onclick="CheckTableRadioButton(this);">
                                        @if (Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(9)) != null)
                                        {
                                            <td class="danger">9:00</td>
                                            <td class="danger">@Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(9)).Candidate.FullName</td>
                                        }
                                        else
                                        {
                                            <td class="success">9:00</td>
                                            <td class="success">Available<span class="pull-right margin-left-10"><input type="radio" name="SelectedDateTime" value="@convertedDate.AddDays(increment).AddHours(9)"></span></td>
                                        }
                                    </tr>
                                    <tr class="cursor-pointer" onclick="CheckTableRadioButton(this);">
                                        @if (Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(10)) != null)
                                        {
                                            <td class="danger">10:00</td>
                                            <td class="danger">@Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(10)).Candidate.FullName</td>
                                        }
                                        else
                                        {
                                            <td class="success">10:00</td>
                                            <td class="success">Available<span class="pull-right margin-left-10"><input type="radio" name="SelectedDateTime" value="@convertedDate.AddDays(increment).AddHours(10)"></span></td>
                                        }
                                    </tr>
                                    <tr class="cursor-pointer" onclick="CheckTableRadioButton(this);">
                                        @if (Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(11)) != null)
                                        {
                                            <td class="danger">11:00</td>
                                            <td class="danger">@Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(11)).Candidate.FullName</td>
                                        }
                                        else
                                        {
                                            <td class="success">11:00</td>
                                            <td class="success">Available<span class="pull-right margin-left-10"><input type="radio" name="SelectedDateTime" value="@convertedDate.AddDays(increment).AddHours(11)"></span></td>
                                        }
                                    </tr>
                                    <tr class="cursor-pointer" onclick="CheckTableRadioButton(this);">
                                        @if (Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(12)) != null)
                                        {
                                            <td class="danger">12:00</td>
                                            <td class="danger">@Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(12)).Candidate.FullName</td>
                                        }
                                        else
                                        {
                                            <td class="success">12:00</td>
                                            <td class="success">Available<span class="pull-right margin-left-10"><input type="radio" name="SelectedDateTime" value="@convertedDate.AddDays(increment).AddHours(12)"></span></td>
                                        }
                                    </tr>
                                    <tr class="cursor-pointer" onclick="CheckTableRadioButton(this);">

                                        @if (Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(13)) != null)
                                        {
                                            <td class="danger">13:00</td>
                                            <td class="danger">@Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(13)).Candidate.FullName</td>
                                        }
                                        else
                                        {
                                            <td class="success">13:00</td>
                                            <td class="success">Available<span class="pull-right margin-left-10"><input type="radio" name="SelectedDateTime" value="@convertedDate.AddDays(increment).AddHours(13)"></span></td>
                                        }
                                    </tr>
                                    <tr class="cursor-pointer" onclick="CheckTableRadioButton(this);">
                                        @if (Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(14)) != null)
                                        {
                                            <td class="danger">14:00</td>
                                            <td class="danger">@Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(14)).Candidate.FullName</td>
                                        }
                                        else
                                        {
                                            <td class="success">14:00</td>
                                            <td class="success">Available<span class="pull-right margin-left-10"><input type="radio" name="SelectedDateTime" value="@convertedDate.AddDays(increment).AddHours(14)"></span></td>
                                        }
                                    </tr>
                                    <tr class="cursor-pointer" onclick="CheckTableRadioButton(this);">
                                        @if (Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(15)) != null)
                                        {
                                            <td class="danger">15:00</td>
                                            <td class="danger">@Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(15)).Candidate.FullName</td>
                                        }
                                        else
                                        {
                                            <td class="success">15:00</td>
                                            <td class="success">Available<span class="pull-right margin-left-10"><input type="radio" name="SelectedDateTime" value="@convertedDate.AddDays(increment).AddHours(15)"></span></td>
                                        }
                                    </tr>
                                    <tr class="cursor-pointer" onclick="CheckTableRadioButton(this);">
                                        @if (Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(16)) != null)
                                        {
                                            <td class="danger">16:00</td>
                                            <td class="danger">@Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(16)).Candidate.FullName</td>
                                        }
                                        else
                                        {
                                            <td class="success">16:00</td>
                                            <td class="success">Available<span class="pull-right margin-left-10"><input type="radio" name="SelectedDateTime" value="@convertedDate.AddDays(increment).AddHours(16)"></span></td>
                                        }
                                    </tr>
                                    <tr class="cursor-pointer" onclick="CheckTableRadioButton(this);">
                                        @if (Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(17)) != null)
                                        {
                                            <td class="danger">17:00</td>
                                            <td class="danger">@Model.Interviews.FirstOrDefault(i => i.InterviewDate == convertedDate.AddDays(increment).AddHours(17)).Candidate.FullName</td>
                                        }
                                        else
                                        {
                                            <td class="success">17:00</td>
                                            <td class="success">Available<span class="pull-right margin-left-10"><input type="radio" name="SelectedDateTime" value="@convertedDate.AddDays(increment).AddHours(17)"></span></td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="vertical-padding-24"></div>

        <div class="form-group bottom-margin-0">
            <div class="col-md-offset-0 col-lg-offset-0 col-md-3 col-lg-3">
                <input type="submit" value="Schedule" class="btn btn-danger btn-block" onclick="$('#schedule-interview-modal').modal('hide');" />
            </div>

            <div class="col-md-offset-6 col-lg-offset-6 col-md-3 col-lg-3">
                <input type="button" value="Cancel" class="btn btn-info btn-block" onclick="$('#schedule-interview-modal').modal('hide');" />
            </div>
        </div>

        <div class="clearfix"></div>

    

    }
}
else
{
<div class="well well-lg bottom-margin-0">
    <div class="well well-lg bottom-margin-0 background-white">
        <div class="alert alert-danger bottom-margin-0" role="alert">
            <span>Oh no!<br />There is no data available.</span>
        </div>
    </div>
</div>
}
<!-- END OF SCHEDULE INTERVIEW PARTIAL -->
