@model RAMS.ViewModels.PositionClosureConfirmationViewModel
<!-- POSITION CLOSURE CONFIRMATION PARTIAL -->
@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "position-details-message-modal-body-div",
        OnBegin = "OnAjaxBegin",
        OnSuccess = "OnAjaxSuccess",
        OnFailure = "OnAjaxFailure",
        OnComplete = "OnAjaxComplete"
    };

}

@using (Ajax.BeginForm("PositionClosure", "Position", new { Area = "Customer" }, ajaxOptions, new { id = "position-closure-confirmation-form" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.AgentId)
    @Html.HiddenFor(model => model.PositionId)
    @Html.HiddenFor(model => model.PositionTitle)
    @Html.HiddenFor(model => model.ClientUserName)
    @Html.HiddenFor(model => model.ClientFullName)

    <div class="well well-lg bottom-margin-0">
        <div class="alert alert-warning bottom-margin-0" role="alert">
            <p>Are you sure that you want to <span style="color: red; font-weight: bold;">CLOSE</span> position @Model.PositionTitle?</p>
            <p><strong>NOTE: </strong>This action <strong>CANNOT</strong> be undone.</p>
        </div>
    </div>

    <div class="vertical-padding-24"></div>

    <div class="form-group bottom-margin-0">
        <div class="col-md-offset-0 col-lg-offset-0 col-md-3 col-lg-3">
            <input type="submit" value="Close Position" class="btn btn-danger btn-block" onclick="$('#position-closure-confirmation-modal').modal('hide');" />
        </div>

        <div class="col-md-offset-6 col-lg-offset-6 col-md-3 col-lg-3">
            <input type="button" value="Cancel" class="btn btn-info btn-block" onclick="$('#position-closure-confirmation-modal').modal('hide');" />
        </div>
    </div>

    <div class="clearfix"></div>
}
<!-- END OF POSITION CLOSURE CONFIRMATION PARTIAL -->
