@model RAMS.ViewModels.ChangePasswordViewModel
<!-- CHANGE PASSWORD PARTIAL -->
@{
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        UpdateTargetId = "edit-user-profile-message-modal-body-div",
        OnBegin = "OnAjaxBegin",
        OnSuccess = "OnAjaxSuccess",
        OnFailure = "OnAjaxFailure",
        OnComplete = "OnAjaxComplete"
    };

    var passwordRegex = "^(?=.*[a-z])(?=.*[A-Z])(?=.*[1234567890])(?=.*[!@#$%^&*()_+=-]).+$";
}

<div class="well well-lg bottom-margin-0 background-white">

    <div class="alert alert-warning bottom-margin-0" role="alert">
        <div class='text-center'><h4><strong>Please be sure to use valid password format.</strong></h4></div>
        <div class='row'>
            <div class='col-md-12'><p></p></div><div class='col-md-offset-1 col-md-11'>Password must have at least one non letter or digit character, least one lowercase ('a'-'z'), least one uppercase ('A'-'Z').</div>

            <div class='col-md-12'><p></p></div><div class='col-md-offset-1 col-md-11'>Password must be at least 6 characters long.</div>
        </div>
    </div>

    <div class="vertical-padding-24"></div>

    @using (Ajax.BeginForm("ChangePassword", "Account", new { Area = "" }, ajaxOptions, new { id = "change-password-form" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.UserName)
        @Html.HiddenFor(model => model.UserType)

        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.CurrentPassword, new { htmlAttributes = new { @class = "form-control password" } })
                    @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    <div class="input-group">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control password" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                        <div class="input-group-btn vertical-align-top">
                            <input type="button" id="showHidePassword" class="btn btn-info" value="Show/Hide Password" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-7">
                    @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control password" } })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group bottom-margin-0">
                <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6">
                    <input type="submit" value="Change Password" class="btn btn-danger btn-block" onclick="$('#change-password-modal').modal('hide');" />
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">$(function () { ShowHidePassword(); });</script>
<!-- END OF CHANGE PASSWORD PARTIAL -->