@model RAMS.Web.Identity.LoginViewModel
<!-- LOGIN VIEW -->
<div class="vertical-padding-24"></div>
<div class="well well-lg">
    <div class="well well-lg background-white bottom-margin-0">
        <h1 class="text-center">RAMS Application</h1>
        <div class="vertical-padding-24"></div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-7">
                        <div class="input-group">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            <div class="input-group-btn vertical-align-top">
                                <input type="button" id="forgotPassword" class="btn btn-danger" data-toggle="modal" data-target="#forgot-password-modal" value="Forgot Password" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="vertical-padding-24"></div>
                
                <div class="form-group bottom-margin-0">
                    <div class="col-md-offset-3 col-lg-offset-3 col-md-6 col-lg-6">
                        <input type="submit" value="Login" class="btn btn-danger btn-block" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<!-- END OF LOGIN VIEW -->
